absl-py==0.2.0
appdirs==1.4.0
astor==0.6.2
attrs==17.4.0
backports-abc==0.5
backports.csv==1.0.5
backports.ssl-match-hostname==3.4.0.2
backports.weakref==1.0.post1
Beaker==1.5.4
bleach==1.5.0
blessings==1.7
certifi==2018.1.18
chardet==3.0.4
click==6.7
click-plugins==1.0.4
ConfigArgParse==0.9.3
configobj==4.7.2
configparser==3.5.0
coverage==4.4.2
cupshelpers==1.0
cycler==0.10.0
Cython==0.27.3
dask==0.8.1
decorator==4.3.0
Django==1.9.7
django-extensions==1.6.7
easydict==1.7
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.2
fros==1.0
fuel==0.1.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
gast==0.2.0
gpustat==0.5.0
graphviz==0.8.1
grpcio==1.11.0
h5py==2.5.0
html5lib==0.9999999
hypothesis==3.44.24
idna==2.6
imageio==2.2.0
imutils==0.4.5
iniparse==0.4
IPy==0.75
ipykernel==4.8.0
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==7.1.1
itsdangerous==0.24
javapackages==1.0.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kitchen==1.1.1
Lasagne==0.2.dev1
leveldb==0.193
lightgbm==2.2.3
lxml==3.2.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==1.5.1
mistune==0.8.3
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nose==1.3.0
notebook==5.4.0
numexpr==2.5
numpy==1.14.3
nvidia-ml-py==375.53.1
openbabel==2.4.1
opencv-python==3.4.0.12
pandas==0.18.0
pandocfilters==1.4.2
Paste==1.7.5.1
path.py==8.1.2
pbr==4.0.2
perf==0.1
pexpect==4.0.1
picklable-itertools==0.1.1
pickleshare==0.6
picpac==0.1
Pillow==3.1.1
policycoreutils-default-encoding==0.1
progressbar2==3.6.2
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psutil==5.6.1
ptyprocess==0.5.1
py==1.4.31
pycocotools==2.0
pycuda==2016.1
pycups==1.9.63
pycurl==7.19.0
pydicom==0.9.9
pydot==1.1.0
Pygments==2.2.0
pygobject==3.14.0
pygpgme==0.3
pygpu==0.7.5+11.g04c2892
pyinotify==0.9.4
pyliblzma==0.5.3
pyOpenSSL==0.13.1
pyparsing==2.2.2
pytest==2.9.1
python-augeas==0.5.0
python-dateutil==1.5
python-dmidecode==3.10.13
python-gflags==2.0
python-nvd3==0.14.2
python-slugify==1.1.4
pytools==2016.1
pytz==2016.2
pyudev==0.15
pyxattr==0.5.1
pyxdg==0.25
PyYAML==3.12
pyzmq==15.2.0
qtconsole==4.3.1
request==0.0.22
requests==2.18.4
requests-file==1.4.3
scdate==1.10.6
scikit-cuda==0.5.1
scikit-image==0.12.3
scikit-learn==0.20.3
scipy==1.0.0
Send2Trash==1.4.2
seobject==0.1
sepolicy==1.1
setroubleshoot==1.1
Shapely==1.5.17.post1
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
slip==0.4.0
slip.dbus==0.4.0
SQLAlchemy==1.2.12
synapseclient==1.7.1
tables==3.2.2
Tempita==0.5.1
tensorboard==1.8.0
tensorflow==1.4.0
tensorflow-gpu==1.8.0
tensorflow-tensorboard==0.4.0rc3
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.1+unknown
toolz==0.7.4
tornado==4.5.3
tqdm==3.8.0
traitlets==4.2.1
Unidecode==1.0.22
urlgrabber==3.10
urllib3==1.22
virtualenv==15.0.1
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.1.3
xgboost==0.82
yum-metadata-parser==1.1.4
